
@import './app/page/_skylake.css';html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
  }a,body,div,footer,form,h1,h2,h3,header,html,img,input,label,li,nav,p,select,span,table,textarea,ul {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 100%;
    font: inherit;
    /* font-size: 100% */
}li,ul {
    list-style: none
}button,input,select,textarea {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
    line-height: inherit
}button:focus,input:focus,textarea:focus {
    outline: none
}button:hover,input[type=submit]:hover {
    cursor: pointer
}textarea {
    overflow: auto
}a {
    color: inherit;
    text-decoration: none
}a,iframe,img,svg,video {
    display: block
}iframe,img,video {
    width: 100%;
    height: auto
}/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                                      VARS
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*───────────────────────────────────────────────────────────*//*─                          fonts
/*───────────────────────────────────────────────────────────*//* 
@font-face $font, 400, $style, GT-Eesti-Text-Thin;
@font-face $font, 200, $style, GT-Eesti-Text-Thin; *//*───────────────────────────────────────────────────────────*//*─                         variables
/*───────────────────────────────────────────────────────────*//* $color: #131313; *///COLORS
$color-primary: #7ed56f;//FONT

$default-font-size: 1.6rem;//GRID
$grid-width: 114rem;//$grid-width: 100%;/* CSS Normalize */*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}/* Box-sizing border-box */* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}html {
  /* This defines what 1rem is - 1 rem = 10px; 10px/16px = 62.5% */
  font-size: 62.5%; 
  overflow-x: hidden;
  font-family: 'GT-Eesti-Text-Thin';
  cursor: default;

  /* @include respond(tab-land) { // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  
  @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
  } */
}body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;

  /* @include respond(tab-port) {
      padding: 0;
  } */
}/* // ::selection {
//   background-color: $color-primary;
//   color: $color-white;
// } *//* #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
} */#sail {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #777;
    -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
    opacity: 1;
}@font-face {
    font-family: "GT-Eesti-Text-Thin";
    src: url("../../../../static/media/sou/GT-Eesti-Text-Thin.otf");
  }@font-face {
    font-family: "FuturaStd-Book";
    src: url("../../../../static/media/sou/FuturaStd-Book.otf");
  }@font-face {
    font-family: "FuturaStd-ExtraBold";
    src: url("../../../../static/media/sou/FuturaStd-ExtraBold.otf");
  }@font-face {
    font-family: trump-gothic-pro;
    font-weight: 400;
    font-style: normal;
    src: url('../../../../static/media/sou/TrumpGothicPro.woff2') format("woff2"),url('../../../../static/media/sou/TrumpGothicPro.woff') format("woff")
  }@font-face {
    font-family: goku;
    font-weight: 400;
    font-style: normal;
    src: url('../../../../static/media/sou/Goku.woff2') format("woff2"),url('../../../../static/media/sou/Goku.woff') format("woff")
  }.tagline {
    color: #fff;
    text-align: center;
    font-family: "FuturaStd-Book", sans-serif;
    text-transform: uppercase;
    //padding-top: 10em;
    //padding-bottom: 11em;
    text-rendering: optimizeLegibility;
  }.main-headline-r1 {
    color: #f95759;
    border-bottom: 3px dotted rgba(255, 255, 255, 0.3);
    font-size: 3.2em;
    font-weight: 800;
    line-height: 1.6em;
    letter-spacing: 0.5em;
    display: inline-block;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  
    @include respond(ipad-port) {
      font-size: 4.2vw;
    }
  
  }.main-headline-r2 {
    margin: 0;
    font-size: 9em;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0.42rem;
    font-family: "FuturaStd-ExtraBold", sans-serif;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  
    @include respond(phone) {
      font-size: 6rem;
    }
  }/* Animations */@-webkit-keyframes cascade {
    0% {
        -webkit-transform: 
    rotateX(50deg) rotateZ(45deg)     translateY(1000px) scale(1.2) translateX(0);
        transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(0);
        opacity: 0
    }
    0.1% {
        opacity: 0
    }
    0.2% {
        opacity: 1
    }
    99.9% {
        opacity: 1
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(-4000px);
        transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(-4000px);
        opacity: 0
    }
}@keyframes cascade {
    0% {
        -webkit-transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(0);
        transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(0);
        opacity: 0
    }
    0.1% {
        opacity: 0
    }
    0.2% {
        opacity: 1
    }
    99.9% {
        opacity: 1
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(-4000px);
        transform: rotateX(50deg) rotateZ(45deg) translateY(1000px) scale(1.2) translateX(-4000px);
        opacity: 0
    }
}@-webkit-keyframes rotateplane{
    0%{
        -webkit-transform:perspective(120px)
    }
    50%{
        -webkit-transform:perspective(120px) rotateY(180deg)
    }
    100%{
        -webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}@keyframes rotateplane{
    0%{
        -webkit-transform:perspective(120px) rotateX(0) rotateY(0);
        transform:perspective(120px) rotateX(0) rotateY(0)
    }
    50%{
        -webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0);
        transform:perspective(120px) rotateX(-180.1deg) rotateY(0)
    }
    100%{
        -webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }.bounceIn {
    -webkit-animation-duration: 5.75s;
    animation-duration: 5.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }@-webkit-keyframes fade-In {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }@keyframes fade-In {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }.spinner {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 5000;
    display: none; //script.js calls jquery fade-in for intro animation
    pointer-events: none;
    
  }h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    width: 3em;
    height: 3em;
    position: relative;
  }.ml8 .letters-container {
    position: absolute;
    left: 4rem;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }.ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: 0.03em;
    top: -0.2em;
  }.ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.12em;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }.ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }.ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed #2998ff;
    border-radius: 2em;
  }.ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    left: -0.01em;
    bottom: -0.02em;
    background-color: #f76c6c;
    border-radius: 3em;
    z-index: 1;
  }.ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #2998ff;
    width: 2.3em;
    height: 2.3em;
  }/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                            BROWSER WIDTH
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*/#issue-bw-w {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
}#issue-bw {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
}body.is-mobile #issue-bw-w {
    display: block;
}/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                         ENABLE JAVASCRIPT
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*/#issue-ej-w {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
}#issue-ej {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
}/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                            UPDATE BROWSER
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*/#issue-ub-w {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
}#issue-ub {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
}.old-browser #issue-ub-w {
    display: block;
}/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                                     HOME
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*/#h {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    font-family: 'GT-Eesti-Text-Thin';
    color: #fff;
}#h-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10vw;
}#h-link {
    position: absolute;
    top: 2vw;
    left: 2.2vw;
    font-weight: 200;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    opacity: 0.7;
}.page-content {
    position: relative;
    height: 100%;
    min-height: 90vh;
    background-image: -webkit-gradient(
      linear,
      left top, right bottom,
      from(rgba(41, 152, 255, 0.3)),
      to(rgba(255, 255, 255, 0.3))
    );
    background-image: linear-gradient(
      to right bottom,
      rgba(41, 152, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    );
    background-size: cover;
    background-position: top;
  }.header-container {
    position: relative;
    //z-index: -5;
    opacity: 0.35;
  }.header-icons {
    width: 100%;
    float: right;
    position: absolute;
    height: 100%;
    left: 0;
  }header .devicons-list-container {
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    height: 2200px;
    width: 4500px;
    -webkit-animation: cascade 500s linear infinite;
    animation: cascade 500s linear infinite;
  
  
    @include respond(ipad-port) {
      height: 2000px;
      width: 3000px;
  
    }
  
    @include respond(phone) {
      height: 1500px;
      
    }
  
    @include respond(small-phone) {
      height: 1500px;
      
    }
  }.devicon {
    font-size: 25rem;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }header i {
    margin: 40px;
    padding: 10px;
    float: left;
    background: rgba(41, 152, 255, .5);
    border-radius: 6px;
    opacity: 1;
    border-bottom: 2px solid #8d8d8d;
    border-right: 2px solid white;
    pointer-events: all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }.header {
    height: 92vh;
    background-image: -webkit-gradient(
        linear,
        left top, right bottom,
        from(rgba(41, 152, 255, .6)),
        to(rgba(255,255,255, .6)));
    background-image: linear-gradient(
        to right bottom,
        rgba(41, 152, 255, .6),
        rgba(255,255,255, .6));
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 20;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); 
    opacity: 0;
  }@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {.header {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 92vh
  }
    }#tagline-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    
  }.tagline {
    z-index: 3;
    pointer-events: none;
    text-align: center;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }.main-headline-r1 {
    @include respond(small-phone) {
      letter-spacing: 0.2em;
    }
  }/* #scroll-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url('../../../../static/media/img/scroll-down.svg');
    width: 10rem;
    height: 10rem;
  } *//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                                    ABOUT
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*/#a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: #450049; */
    font-family: 'GT-Eesti-Text-Thin';
    color: #fff;
}#a-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10vw;
}#a-link {
    position: absolute;
    top: 2vw;
    left: 2.2vw;
    font-weight: 200;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    opacity: 0.7;
}/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─
/*─                                                                                    P 404
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*//*─────────────────────────────────────────────────────────────────────────────────────────────────*/#p404 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #020069;
}#p404 a {
    color: #fff;
    font-family: 'GT-Eesti-Text-Thin';
    font-weight: 200;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    opacity: 0.7;
}@media (max-width: 999px)
{
    #issue-bw-w {
        display: block;
    }
}@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (min-width: 125em) {.header {
        background-image: -webkit-gradient(
            linear,
            left top, right bottom,
            from(rgba(41, 152, 255, 0.6)),
            to(rgba(255,255,255, 0.6)));
        background-image: linear-gradient(
            to right bottom,
            rgba(41, 152, 255, 0.6),
            rgba(255,255,255, 0.6))
  }
    }


